
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f4b91;
}

.wrapper.login a
{
    text-decoration: "none";
}

.wrapper{
    background: white;
    border-radius: 25px;
    width: 500px;
    height: 600px;
    padding-top: 50px
}

.wrapper h2{
    font-size: 28px;
    text-align: center;
    
}

.wrapper .input-box{
    position: relative;
    height: 45px;
    width: 400px;
    margin: 40px;
    padding-left: 10%;
    
}

.wrapper .input-box .labels{
    margin-bottom: 10px;
    font-weight: bold;
}

.input-box input{
    height:100%;
    width:100%;
    background: transparent;
    border-color: rgba(163, 149, 149,255);
    border-radius: 5px;
    font-size: 16px;
    color: black;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.input-box input::placeholder{
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.wrapper .btn{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    margin-left: 95px;
    margin-top: 40px;
    padding-top: 3px;
    font-size: 18px;
    background-color: #1f4b91;
    color: white;
}

.wrapper .remember-forgot{
    display: flex;
    padding-left: 95px;
    padding-right: 95px;
    justify-content: space-between;
}

.wrapper .login{
    display: flex;
    padding-top: 40px;
    padding-left: 160px;
    padding-right: 95px;
    justify-content: space-between;
}

button:hover {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }

